.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    gap: 100px;
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
}

.news{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.newspaper {
    width: 100%;
    max-width: 50px;   
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

h1{
    font-size: 18px;   
    text-align: center;
}

h2 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    max-width: 300px; 
    background: radial-gradient(circle, rgba(245, 157, 231, 0.705) 0%, rgba(148,187,233,0.26943277310924374) 100%);
    border-radius: 8px;
    box-shadow: 5px 5px 5px #ccc;
}

input, 
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(167, 116, 163, 0.14);;
    width: 100%;  
    padding: 10px 30px; 
}

.publicacion {
    display: block;
    width: 70%;
}

.bttn {
   padding: 10px 15px;
   width: 100%;
   max-width: 100px;
   border-radius: 5px;
   border-color: #ccc;
   background-color: #96afeb;
   box-shadow: 2px 2px 2px #949292;
   color: white;
   font-weight: bold;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.articulo {
    padding: 20px 20px;
    margin: 0 auto;
    background-color: rgba(237, 148, 242, 0.093);
    border-radius: 8px;
    box-shadow: 5px 5px 5px #ccc;
    width: 100%;
    max-width: 500px;
}

.listado {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 5px; 
    padding: 1rem;
    margin: 1rem;
}

.tituloNoticia {
    padding: 1rem;
    margin: 0;
}

.fechaNoticia {
    padding: 1rem;
    margin: 0;
    color:rgba(106, 32, 100, 0.536);
}

.imagenNoticia {
   width: 300px;
   height: 300px;
   display: block;
   box-shadow: 5px 5px 5px #ccc;
}
