<main>
    <div class="wrapper">
        <div class="formulario">
            <div class="news">
                <img src="assets/newspaper.png" alt="" class="newspaper">
                <h1>Rellena el formulario para publicar una noticia</h1>
                <img src="assets/newspaper.png" alt="" class="newspaper">
            </div>
            <div class="form">
                <div class="publicacion">
                    <label for="titulo">Título</label>
                    <!--falta ver cómo implementar el ngModel-->
                    <input type="text" id="titulo" [(ngModel)]="titulo" required>
                </div>
                <div class="publicacion">
                    <label for="img">Imagen (url de la foto)</label> 
                    <!--falta ver cómo implementar el ngModel-->
                    <input type="url" id="img" [(ngModel)]="img" required>
                </div>
                <div class="publicacion">
                    <label for="textoNoticia">Texto</label> 
                    <!--falta ver cómo implementar el ngModel-->
                    <textarea id="textoNoticia" [(ngModel)]="textoNoticia" required></textarea>
                </div>
                <div class="publicacion">
                    <label for="fecha">Fecha de publicación</label> 
                    <!--falta ver cómo implementar el ngModel-->
                    <input type="date" id="fecha" [(ngModel)]="fecha" required>
                </div>
                <button class="bttn" (click)="publicar()">Publicar</button>
            </div>
        </div>
        <h2>NOTICIAS</h2>
        <section>
             <div class="caja">
                <article *ngFor="let noticia of arrNoticias" class="articulo">
                    <ul class="listado">
                        <li class="items">
                            <h1 class="tituloNoticia">{{noticia.titulo}}</h1>
                            <figure class="container">
                                <img  src="{{noticia.img}}" alt="Imagen de la noticia" class="imagenNoticia">
                            </figure>
                            <div class="fechaNoticia">{{noticia.fecha}}</div>
                            <p class="textoNoticia">{{noticia.textoNoticia}}</p>
                        </li>
                    </ul>
                </article>
            </div>
        </section>
    </div>
</main>